body {
  height: 100vh;
  background-image: url("../img/h.jpg");
  background-size: contain;
  background-position: right;
  margin: auto;
  max-width: 1500px;
  text-align: center;
}

h1 {
  padding: 20px;
  margin: auto;
  max-width: 1500px;
  width: 50%;
  box-sizing: border-box;
  border: 3px black solid;
  background-color: black;
  color: #9a4241;
  font-size: 3.4em;
}

h2{
  padding: 20px;
  margin: auto;
  max-width: 1500px;
  font-size: 1.5em;
  font-family: monospace;

}

 h3, h4, h5 {
  padding: 5px;
  margin: auto;
  max-width: 1500px;
  font-size: 1.5em;
  font-family: monospace;
}

.dropdown {
  color: black;
  font-family: courier;
  text-align: right;
  margin: auto;
  max-width: 1500px;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.2em;
}

video {
  margin: 10px;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  font-family:monospace;
  font-size: 1.2em;
   border: 1px black solid;
   background-color: black;
   align-items: center;
}

.floatfix {
  margin: auto;
  max-width: 1500px;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  font-family:monospace;
  font-size: 1.2em;
   border: 1px black solid;
   background-color: #f0e5c9;
   align-items: center;
   display:block;
}

p, audio {
  text-align: left;
}

.links {
  padding: 5px;
  margin: auto;
  max-width: 1500px;
  font-family:monospace;
  width: 50%;
  box-sizing: border-box;
  font-size: 1.2em;
   align-items: center;
}

.info {
  text-align: left;
}

footer{
  padding: 5px;
  margin: auto;
  max-width: 1500px;
}
